/* font-family: 'Playfair Display', serif; */

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

h1 {
    font-family: adobe-garamond-pro, serif;
    font-style: bold;
}

h2 {
    font-family: adobe-garamond-pro, serif;
    font-style: bold;
}

h3 {
    font-family: adobe-garamond-pro, serif;
    font-style: bold;
}

p {
    font-family: TradeGothic, serif;
    font-style: regular;
}

.mini-name {
    font-family: adobe-garamond-pro, serif;
    font-style: medium;
}

.sub-title {
    font-family: adobe-garamond-pro, serif;
    font-style: italic; 
}

.background-video {
    object-fit: cover;
    width: 100%;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.rh-themed-button {
	border-color: #00723F;
	background-color: #00723F;
	color: white;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 600px;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 500px;
	width: 600px;
}

panel-body {
	border-top: 0 !important;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
	header {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}

	header video {
		display: none;
	}
}
